<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Profile</title>
  </head>
  <body>
    <form class="" action="/adding" method="post">
      <label for="">Name: </label>
      <input type="text" name="name" value="">

      <br>

      <label for="">City: </label>
      <input type="text" name="city">

      <br>

      <label for="">Country: </label>
      <input type="text" name="country">

      <br>

      <label for="">Company: </label>
      <input type="text" name="company">

      <br>

      <label for="">Email: </label>
      <input type="email" name="email">

      <br>

      <label for="">Job: </label>
      <input type="text" name="job">

      <br>

      <label for="">Phone: </label>
      <input type="number" name="phone">

      <br>

      <fieldset>
        <legend>What skills you got son?</legend>
        <div>
          <input type="checkbox" name="skills" value="aim">
          <label for="aim">Aim</label>
        </div>
        <div>
          <input type="checkbox" name="skills" value="stamina">
          <label for="stamina">Stamina</label>
        </div>
        <div>
          <input type="checkbox" name="skills" value="driving">
          <label for="driving">Driving</label>
          <div>
            <input type="checkbox" name="skills" value="flying">
            <label for="flying">Flying</label>
          </div>
          <div>
            <input type="checkbox" name="skills" value="fighting">
            <label for="fighting">Fighting</label>
          </div>
        </div>
      </fieldset>

      <br>

      <label for="">University: </label>
      <input type="text" name="university">

      <br>

      <label for="">Username: </label>
      <input type="text" name="username">

      <br>

      <label for="">Password</label>
      <input type="text" name="passwordHash" value="">

      <br>

      <button type="submit" name="button">Submit</button>

    </form>
  </body>
</html>
