<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Add Profile</title>
  </head>
  <body>
    {{ #user }}

    <form class="" action="/update/{{_id}}" method="post">
      <label for="">Name: </label>
      <input type="text" name="name" value="{{ name }}">

      <br>

      <label for="">City: </label>
      <input type="text" name="city" value="{{ city }}">

      <br>

      <label for="">Country: </label>
      <input type="text" name="country" value="{{ country }}">

      <br>

      <label for="">Company: </label>
      <input type="text" name="company" value="{{ company }}">

      <br>

      <label for="">Email: </label>
      <input type="email" name="email" value="{{ email }}">

      <br>

      <label for="">Job: </label>
      <input type="text" name="job" value="{{ job }}">

      <br>

      <label for="">Phone: </label>
      <input type="number" name="phone" value="{{ phone }}">

      <br>

      <fieldset>
        <legend>What skills you got son?</legend>
        <div>
          <input type="checkbox" name="skills" value={{skills}}>
          <label for="aim">Aim</label>
        </div>
        <div>
          <input type="checkbox" name="skills" value={{skills}}>
          <label for="stamina">Stamina</label>
        </div>
        <div>
          <input type="checkbox" name="skills" value={{skills}}>
          <label for="driving">Driving</label>
          <div>
            <input type="checkbox" name="skills" value={{skills}}>
            <label for="flying">Flying</label>
          </div>
          <div>
            <input type="checkbox" name="skills" value={{skills}}>
            <label for="fighting">Fighting</label>
          </div>
        </div>
      </fieldset>

      <br>

      <label for="">University: </label>
      <input type="text" name="university" value="{{ university }}">

      <br>

      <label for="">Username: </label>
      <input type="text" name="username" value="{{ username }}">

      <br>

      {{ /user}}
        <button type="submit" name="button">Update</button>
      </form>
  </body>
</html>
