<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Login</title>
  </head>
  <body>
    <form class="" action="index.html" method="post">
      <label for="username">Username:</label>
      <input type="text" name="" value="">
      <label for="password">Password:</label>
      <input type="text" name="" value="">
      <button type="submit" name="button">Login</button>
    </form>
  </body>
</html>
